*.p12
*.sln
*.suo
*.csproj
Assembly-*
*.keystore
*.userprefs
*.DS_Store
*.unityproj
*.DotSettings
*.user
*.userprefs
*.pidb
*.pidb.meta
*.booproj

systinfo.txt

/Assets/Temp.meta
/Assets/UnityVS.meta
/Assets/Temp/
/Assets/UnityVS/

/Library
/Temp
/Obj
/Build
/UserSettings
/Logs

.vs
.idea
